<script id="soknad_sammendrag_template" type="text/template">
    <div class="well margin-top-general">
        <h2>Sammendrag</h2>

        {% include "common/soknad_summary.html" %}


       <div class="control-group">
           <button type="button" id="previous_button" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Forrige</button>
           <button type="button" id="cancel_button" class="btn btn-default">Avbryt</button>

           <button type="button" id="send_button" class="btn btn-primary pull-right">Send søknad</button>
        </div>

    </div>
</script>