<script id="edit_soknad_title_template" type="text/template">
    <div id="edit_soknad_title" class="soknad_title">
        <div id="main_header">
            <!--<span class="glyphicon glyphicon-pencil"></span><h2 style="display:inline">&nbsp;Redigere Søknad</h2> -->
            <h1><span class="glyphicon glyphicon-edit"></span>Redigere søknad</h1>
        </div>
        <div id="sub_header">
            <h2><span id="id_tilskuddsordning_navn"></span> - <span id="id_soker_name"></span></h2>
        </div>
        <div id="sub_sub_header">
            <!--<h4><%- status %></h4> -->
            <div class="application-status">Status: <span id="id_status"></span></div>
        </div>
    </div>
</script>