<script id="ny_rapport_action_template" type="text/template">
    <div class="well margin-top-general clearfix popup">
        <h2>Rapporter</h2>
        <p>Start veiviser for å lage rapport.</p>
        <span class="margin-top-general-mobile-only pull-right-desktop-only control-group">
            <button type="button" id="cancel_action" class="btn btn-default">Avbryt</button>
            <button type="button" id="ok_action" class="btn btn-primary margin-right-small">Opprett rapport</button>
        </span>
    </div>
</script>