<script id="ny_tilskuddsordning_action_template" type="text/template">
    <div class="well margin-top-general clearfix popup">
        <h2>Ny tilskuddsordning</h2>
		<p>Navnet kan ikke endres etter at tilskuddsordningen er opprettet.</p>

		    <div class="row">
                <div class="col-sm-1">
                    <label class="control-label align-with-input" for="id_navn">Navn:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" id="id_navn" maxlength="60" class="form-control">
                </div>
            </div>

        <div class="pull-right-desktop-only margin-top-small control-group">
            <span class="margin-right-general pull-left-desktop-only margin-top-small">Start veiviser for å opprette ny tilskuddsordning.</span>
            <span class="margin-top-general-mobile-only">
                <button type="button" id="cancel_action" class="btn btn-default">Avbryt</button>
                <button type="button" id="ok_action" class="btn btn-primary">Opprett</button>
            </span>
        </div>

    </div>
</script>