<script id="apne_soknad_for_redigering_action_template" type="text/template">
    <div class="well margin-top-general clearfix popup">
        <h2>Returner søknad til søker</h2>

        <div class="align-inputs-inside">
            <div class="form-group">
                <div class="pull-right">Maks 150 tegn</div>
                <label for="id_merknad">Angi mangel:</label>
                <textarea class="form-control" id="id_merknad" name="id_merknad" rows="3" cols="50" maxlength="150"></textarea>
            </div>
        </div>
        <div class="margin-top-general-mobile-only pull-right-desktop-only control-group">
            <button type="button" id="cancel_action" class="btn btn-default">Avbryt</button>
            <button type="button" id="ok_action" class="btn btn-primary margin-right-small">Returner søknad til søker</button>
            </span>
        </div>
    </div>
</script>