<script id="send_tilbake_til_saksbehandling_action_template" type="text/template">
    <div class="well margin-top-general clearfix popup">
		<h2>Til behandling</h2>
        <div class="clearfix">
            <p>Sender søknad tilbake til saksbehandler.</p>

            <span class="margin-top-general-mobile-only pull-right-desktop-only send-soknad-buttons control-group">
                <small class="pull-left-desktop-only margin-top-small col-sm-8">
                    <span class="glyphicon glyphicon-warning-sign margin-right-small"></span>
                    Bekreftelse på mottatt søknad samt eventuelle spørsmål blir sendt til e-postadressen som du har oppgitt.
                    Hvis du ikke mottar e-post kan du sjekke søppelpostfilteret i e-postprogrammet ditt.
                </small>
                <div class="pull-right-desktop-only col-sm-4">
                    <button type="button" id="cancel_action" class="btn btn-default">Avbryt</button>
                    <button type="button" id="ok_action" class="btn btn-primary margin-right-small">Send tilbake til saksbehandling</button>
                </div>
            </span>
        </div>
	</div>
</script>