<script id="ny_stdtekst_action_template" type="text/template">
    <div class="well margin-top-general clearfix popup">
        <h2>Ny standardtekst</h2>
        <p>Navnet kan ikke endres etter at standardteksten er opprettet.</p>

        <div class="row">
            <div class="col-md-1">
                <label class="control-label align-with-input" for="id_navn">Navn:</label>

            </div>
            <div class="col-md-4">
                <input type="text" id="id_navn" maxlength="60" class="form-control">
            </div>

        </div>

        <div class="pull-right-desktop-only margin-top-small control-group">
            <span class="margin-top-general-mobile-only">
                <button type="button" id="cancel_action" class="btn btn-default">Avbryt</button>
                <button type="button" id="ok_action" class="btn btn-primary">Opprett</button>
            </span>
        </div>
    </div>
</script>