<script id="godta_vedtak_action_template" type="text/template">
    <div class="well margin-top-general clearfix popup">
        <h2>Godta vedtak</h2>

        <ul class="bullet-list">
            <li><b>Ved tilsagn om tilskudd:</b> Ved å godta vedtaket, bekrefter du på vegne av <b>søker</b> at tilskuddet vil bli brukt i samsvar med Trondheim kommunes retningslinjer for tilskuddsordningen og i henhold til vedtaket.</li>

            <li><b>Ved avslag:</b> Ved å godta vedtaket, aksepterer du avslaget på vegne av <b>søker</b>.</li>
        </ul>

        <p>(<b>Søker</b> kan være en organisasjon, en gruppe eller deg som privatperson.)</p>

        <div class="pull-right-desktop-only control-group">
            <button type="button" id="cancel_action" class="btn btn-default">Avbryt</button>
            <button type="button" id="ok_action" class="btn btn-primary">Godta vedtak</button>
        </div>
    </div>
</script>