<script id="ny_organisasjon_action_template" type="text/template">
    <div class="well margin-top-general clearfix popup">
        <h2>Finn eller registrer organisasjon</h2>

            <p>
                For å kunne søke om tilskudd må du være tilknyttet en organisasjon eller et foretak.
                </p>
        <p>
                I Aktørbasen kan du finne din organisasjon og knyttes til denne, eller du kan registrere en ny organisasjon.
        <br>
                <a href="https://trondheim.kommune.no/aktorbasen/" target="_blank">Trenger du hjelp? Se veileder</a>
            </p>

        <div class="controls margin-top-general-mobile-only pull-right-desktop-only control-group">
                <small class="margin-right-general pull-left-desktop-only margin-top-small">
                Aktørbasen åpnes i nytt vindu (denne siden må deretter lastes på nytt for at endringer skal vises)
                </small>

                <button type="button" id="cancel_button" class="btn btn-default">Avbryt</button>
                <button type="button" id="create_button" class="btn btn-primary">Gå til Aktørbasen</button>
            </div>

    </div>
</script>
