<script id="varsle_godkjenner_action_template" type="text/template">

    <div class="well new-application margin-top-general">
        <h2>Varsle godkjenner</h2>

        <p>Vil du sende varsel til godkjenner om at du har lagt inn innstilling til vedtak for en eller flere søknader?</p>

        <div class="controls form-inline">
            <label for="tilskuddsordning-select">Tilskuddsordning:</label>
            <select class="form-control no-full-width" id="tilskuddsordninger">
            </select>
        </div>

        <div class="controls pull-right-desktop-only clearfix margin-top-general-medium-down control-group">
            <button type="button" id="cancel_action" class="btn btn-default pull-left-desktop-only margin-right-small">Avbryt</button>
            <button type="button" id="ok_action" class="btn btn-primary pull-right-desktop-only margin-right-small">Send varsel</button>
        </div>
    </div>
</script>