<script id="krav_om_tilbakebetaling_action_template" type="text/template">
    <div class="well margin-top-general clearfix popup">
		<h2>Krav om tilbakebetaling</h2>
		<p>Inndrivelse av utbetalt tilskudd er igangsatt i annet system</p>
		<div class="margin-top-general pull-right-desktop-only control-group">	
			<button type="button" id="cancel_action" class="btn btn-default">Avbryt</button>
			<button type="button" id="ok_action" class="btn btn-danger margin-right-small">Krav er igangsatt</button>
		</div>
	</div>
</script>