<script id="redigere_rapportfrist_action_template" type="text/template">
    <div class="well margin-top-general clearfix popup">
        <h2>Utsett rapportfrist eller send rapport tilbake til søker</h2>

        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <span class="labeling">Ny rapportfrist:</span>
                    <input id="id_rapport_frist" name="rapport_frist" title="Angi rapportfrist"
                           class="datepicker form-control" type="text" data-date-format="dd.mm.yyyy">
                </div>
            </div>
        </div>
        <label class="pull-left-desktop-only">Angi årsak til endret frist (valgfritt):</label>
        <span class="pull-right-desktop-only">Maks 150 tegn</span>

        <div class="clearfix">
            <textarea class="form-control" id="id_trekk_orsak" name="trekk_orsak" rows="3" cols="50" maxlength="150"></textarea>
        </div>
        <div class="clearfix control-group">

            <div class="margin-top-general-mobile-only pull-right-desktop-only control-group">
                <small class="margin-right-general pull-left-desktop-only margin-top-small">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    Saksbehandler må gi beskjed til søker utenfor Tilskuddsbasen.<br/> Merknad vil være synlig på søkers visning av søknaden.
                </small>

                <button type="button" id="cancel_action" class="btn btn-default">Avbryt</button>
                <button type="button" id="ok_action" class="btn btn-primary margin-right-small">Send</button>
            </div>
        </div>
    </div>
</script>