<script id="rediger_soknad_action_template" type="text/template">
    <div class="well margin-top-general clearfix popup">
        <h2>Redigere søknad</h2>
		<p>Åpne veiviser for å redigere videre</p>
        <span class="pull-right-desktop-only">
            <span class="margin-top-general-mobile-only control-group">
                <button type="button" id="cancel_action" class="btn btn-default">Avbryt</button>
            	<button type="button" id="ok_action" class="btn btn-primary">Redigere søknad</button>
            </span>
        </span>
    </div>
</script>