<script id="slett_soknad_action_template" type="text/template">
    <div class="well margin-top-general clearfix popup">
        <h2>Slett søknad</h2>
		<p><span class="glyphicon glyphicon-info-sign margin-right-small info-icon"></span>Du kan ikke angre sletting</span></p>
        <div class="pull-right-desktop-only">
	    	<span class="margin-top-general-mobile-only control-group">
				<button type="button" id="cancel_action" class="btn btn-default">Avbryt</button>
				<button type="button" id="ok_action" class="btn btn-danger">Slett søknad</button>
			</span>
        </div>
    </div>
</script>