<script id="behandle_action_template" type="text/template">
    <div class="well margin-top-general clearfix popup">
        <h2>Behandle</h2>

        <div class="controls form-inline">
            <p><select class="pull-left margin-right-small" id="saksbehandlere"></select> skal saksbehandle denne søknaden. </p>
        </div>
        <div class="margin-top-general-mobile-only pull-right-desktop-only control-group">
            <small class="margin-right-general pull-left-desktop-only margin-top-small">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    Savner du saksbehandler? ta kontakt med en administrator.
                </small>
            <button type="button" id="cancel_action" class="btn btn-default">Avbryt</button>
            <button type="button" id="ok_action" class="btn btn-primary margin-right-small">Behandle</button>
        </div>
    </div>
</script>