<script id="soknad_view_saksvedlegg_template" type="text/template">
    <div class="well margin-top-general">
        <h2>Saksvedlegg</h2>

        <p>Informasjon på denne side av opprettet av kommunen, og er ikke synlig for søker.</p>

        <div id="id_saksvedlegg_list">
        </div>
    </div>
</script>

<script id="saksvedlegg_row_template" type="text/template">
    <a id="id_filelink"><span id="id_filnavn"></span></a>:<i><span id="id_beskrivelse" class="margin-left-small"></span></i> (vedlagt <span id="id_vedlagtdato"></span>)
</script>