<script id="oversikt_template" type="text/template">
    <div class="well">
        <h2>Oversikt</h2>

        <form class="form-horizontal" role="form">
            <div class="summary-section">
                <p class="summary-section-title">Kort om søknaden</p>

                <div class="form-group " id="rapport_underkjent_info" hidden>
                    <p class="margin-left-general margin-right-general">
                        <span class="margin-right-small glyphicon glyphicon-info-sign"></span>
                        <span id="id_rapport_underkjent"></span>
                    </p>
                </div>

                <div class="form-group endret_rapportfrist_info">
                    <p class="margin-left-general margin-right-general">
                        <span class="margin-right-small glyphicon glyphicon-info-sign"></span>
                        <span id="id_endret_rapportfrist"></span>
                    </p>
                </div>

                <div class="form-group " id="etterspurt_info_group" hidden>
                    <p class="margin-left-general margin-right-general">
                        <span class="margin-right-small glyphicon glyphicon-info-sign"></span>
                        <span id="id_etterspurt_info"></span>
                    </p>
                </div>

                <div class="form-group ">
                    <label for="id_id" class="col-sm-3 control-label">Saksnummer</label>

                    <div class="col-sm-9">
                        <p class="form-control-static" id="id_id"></p>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="id_tilskudddsordning_navn" class="col-sm-3 control-label">Tilskuddsordning</label>

                    <div class="col-sm-9">
                        <p class="form-control-static" id="id_tilskudddsordning_navn"></p>
                    </div>

                </div>
                <div class="form-group ">
                    <label for="id_soker_name" class="col-sm-3 control-label">Søker</label>

                    <div class="col-sm-9">
                        <p class="form-control-static" id="id_soker_name"></p>
                    </div>

                </div>
                <div class="form-group ">
                    <label for="id_kontaktperson" class="col-sm-3 control-label">Kontaktperson</label>

                    <div class="col-sm-9">
                        <p class="form-control-static" id="id_kontaktperson"></p>
                    </div>

                </div>
                <div class="form-group ">
                    <label for="id_levert_dato" class="col-sm-3 control-label">Innsendt</label>

                    <div class="col-sm-9">
                        <p class="form-control-static" id="id_levert_dato"></p>
                    </div>

                </div>
                <div class="form-group ">
                    <label for="id_soknadsfrist" class="col-sm-3 control-label">Søknadsfrist</label>

                    <div class="col-sm-9">
                        <p class="form-control-static" id="id_soknadsfrist"></p>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="id_saksbehandler" class="col-sm-3 control-label">Saksbehandler</label>

                    <div class="col-sm-9">
                        <p class="form-control-static" id="id_saksbehandler"></p>
                    </div>
                </div>
                <div class="form-group rapportfrist_info">
                    <label for="id_rapportfrist" class="col-sm-3 control-label">Rapportfrist</label>

                    <div class="col-sm-9">
                        <p class="form-control-static" id="id_rapportfrist"></p>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="id_status" class="col-sm-3 control-label">Status</label>

                    <div class="col-sm-9">
                        <p class="form-control-static" id="id_status"></p>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="id_omsokt_belop" class="col-sm-3 control-label">Søknadssum</label>

                    <div class="col-sm-9">
                        <p class="form-control-static" id="id_omsokt_belop"></p>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="id_vedtatt_belop" class="col-sm-3 control-label">Vedtatt sum</label>

                    <div class="col-sm-9">
                        <p class="form-control-static" id="id_vedtatt_belop"></p>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="id_utbetalt_belop" class="col-sm-3 control-label">Sendt utbetaling</label>

                    <div class="col-sm-9">
                        <p class="form-control-static" id="id_utbetalt_belop"></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>