<script id="organisasjon_list_action_template" type="text/template">
    <div class="margin-top-general">
        <h2>Organisasjoner jeg er representant for</h2>

        <div class="table-responsive well">
            <table class="table odd-even-table">
                <thead>
                <tr>
                    <th>Navn</th>
                    <th>Organisasjonsnummer</th>
                   <!-- <th>Medlemskap</th>
                    <th>Sist oppdatert fra Brønnøysundregistret</th> -->
                </tr>
                </thead>
                <tbody id="list_organisasjoner">

                </tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/template" id="organisasjoner_tablerow_template">
    <td tabindex="0"><div id="id_navn" ></div></td>
    <td tabindex="0"><div id="id_orgnummer" ></div></td>
    <!--<td><div id="id_medlemskap" ></div></td>
    <td><div id="id_sistoppdatert" ></div></td> -->
</script>