{% include "common/message_template.html" %}

<script id="tilskudd_layout_template" type="text/template">
    <div id="message"></div>
    <div id="title"></div>
    <div id="body" class="row">
        <div class="col-sm-3">
        	<div class="navbar navbar-default" role="navigation">
					  
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <span class="navbar-brand" href="#">Meny</span>
			    </div>
			    <div class="collapse navbar-collapse" id="navbar"></div>
			</div>
		</div>
        <div id="main" class="col-sm-9">
            <div id="actionbar" class="margin-bottom-general"></div>
            <div id="actionarea"></div>
            <div id="content"></div>
        </div>
    </div>
</script>