<script id="view_standardtekster_template" type="text/template">
    <div class="padding-general margin-top-general well">
        <h2>Standardtekster</h2>

        <div>
            <table class="table odd-even-table">
                <thead>
                <tr>
                    <th>Navn</th>
                    <th>Type</th>
                    <th>Tekst</th>
                </tr>
                </thead>

                <tbody id="list_standardtekst">

                </tbody>
            </table>
        </div>
    </div>
</script>

<script id="view_standardtekst_row_template" type="text/template">
    <td tabindex="0" id = "id_navn"></td>
    <td tabindex="0" id = "id_type"></td>
    <td tabindex="0" class="preserve-breaks" id = "id_tekst"></td>
</script>