<script id="soknadsliste_template" type="text/template">
    <div class="padding-general margin-top-general well">
        <h2>Tilskuddsordninger</h2>
        <div class="table-responsive">
            <table class="table odd-even-table">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Søknadsfrist</th>
                        <th>Rapport og utbetaling</th>
                        <th>Budsjett</th>
                    </tr>
                </thead>

                <tbody id="list_soknader">

                </tbody>
            </table>
        </div>
    </div>
</script>

<script id="soknadsliste_row_template" type="text/template">
    <td tabindex="0" id="id_navn"></td>
    <td tabindex="0" id="id_soknadsfrist"></td>
    <td tabindex="0" id="id_type"></td>
    <td tabindex="0" id="id_budsjett"></td>
</script>