<script id="rapport_edit_innledning_template" type="text/template">
   <div class="well">
   		<h2>Innledning</h2>

   		<p>Dette skjemaet bruker du for å rapportere på tilskuddet. Du finner et sammendrag av søknaden i neste steg.<br>
           Hvis du lurer på noe kan du ta kontakt med saksbehandler.
        </p>

   		<div class="control-label">Frist: <span id="id_frist"> </span></div>

   		<div class="margin-top-general">
            <small class="margin-right-general">Skjemaet mellomlagres når du trykker på forrige eller neste.
            </small>
	   		<div class="control-group">
			  <button type="button" id="cancel_button" class="btn btn-default">Avbryt</button>
			  <div class="pull-right">
			   	<button type="button" id="next_button" name="next-button" class="btn btn-primary">Neste <i class="glyphicon glyphicon-chevron-right"></i></button>
			  </div>
			</div>
   		</div>
   </div>
</script>